.box{
    width: 547px;
    height: 627px;
    left: 446px;
    top: 198px;
    margin-left: auto;
    margin-right: auto;

    background: #2A687B;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;
}