.all{
    justify-content: center;
}
.Login{
    width: 40%;
    height: 90%;
    left: 447px;
    top: 198px;
    margin-left: auto;
    margin-right: auto;
    background: #2A687B;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;
}
.textLogin{
    text-align: center;
    font-family: Righteous;
    margin-bottom: -5%;
    font-weight: normal;
    font-size: 330%;
    /* line-height: 114px; */
    color: #000000;
}
.buttonRegistrarse{
    width: 15%;
    height: 5%;
    margin-left: 55%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-family: emoji;
    font-style: italic;
    font-weight: normal;
    font-size: 75%;
    line-height: 26px;
    color: #FFFFFF;
    background: #072868;
}
.labelUser{
    position: absolute;
    width: 419px;
    height: 84px;
    left: 510px;
    top: 332px;
    margin-left: 5%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    /* identical to box height */

    color: #000000;
}
#button{
    width: 40%;
    height: 46px;
    left: 584px;
    top: 709px;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: Revalia;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;
    background: #000000;
}
.groupUser{
    width: 80%;
    height: 5%;
    left: 510px;
    top: 332px;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;

}
.groupPassword{
    width: 80%;
    height: 5%;
    left: 510px;
    top: 332px;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
}

