.cont{
    width: 547px;
    height: 627px;
    left: 446px;
    top: 198px;
    margin-left: auto;
    margin-right: auto;
    background: #64c044;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;
}
.title{
    text-align: center;
    font-family: Righteous;
    margin-bottom: -5%;
    font-weight: normal;
    font-size: 330%;
    /* line-height: 114px; */
    color: #000000;
}
.flecha{
    position: absolute;
    margin-top: 67px;
    margin-left: 70px;
    width: 99px;
}
.idRol{
    margin-top: 41px;
    margin-left: 65px;
    margin-right: 63px;
}
.nombre, .apellido, .login, .password{
    margin-top: 31px;
    margin-left: 65px;
    margin-right: 63px;
}
.button{
    width: 272px;
    height: 46px;
    left: 584px;
    top: 709px;
    margin-left: 25%;
    margin-top: 10%;
    text-align: center;
    justify-content: center;


    font-family: Revalia;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    /* identical to box height */

    color: #FFFFFF;

    background: #000000;
}